.header {
    background-image: url('../../assets/Images/header.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.headerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5rem;
    padding: 0 10rem;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
}
.headerContent h1 {
    font-size: 3rem;
    font-weight: 700;
}
.headerContent p {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: start;
    line-height: 1.5;
    width: 60%;

}
.headerContent button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background:none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
}
.headerContent button:hover {
    background: #fff;
    color: #000;
    transform: scale(1.1);
}
