@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", serif;
    font-style: normal;
    transition: all linear 0.3s; 
}
/* لإزالة الأسهم في متصفحات WebKit مثل Chrome وSafari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* لإزالة الأسهم في متصفح Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}